<div>
    <div>
        <label for="user">User ID</label>
        <input type="text" [(ngModel)]="userId">
    </div>

    @for(item of data; track item.id){
    <div class="story-container">
        <div class="story-card">

            <div>
                <div>
                    <h2>Story name: {{item.title}}</h2>

                </div>
                <p>Description {{item.description}}</p>
                <p>Department {{item.department}}</p>
                <p>Vote Balance: {{calculateVoteBalance(item.votes)}}</p>
            </div>
    
            <div>
                <button mat-icon-button color="accent" (click)="vote(item.id, true)">
                    <mat-icon >thumb_up_alt</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="vote(item.id, false)">
                    <mat-icon >thumb_down_alt</mat-icon>
                </button>
            </div>
    

        </div>
    </div>
}
</div>
