<div>
    <div>
        <label for="user">User ID</label>
        <input type="text" [(ngModel)]="userId">
    </div>

    @for(item of data; track item.id){
    <div class="story-container">
        <div class="story-card">

            <div>
                <div>
                    <h2>Story name: {{item.title}}</h2>

                </div>
                <p>Description {{item.description}}</p>
                <p>Department {{item.department}}</p>
                <p>Vote Balance: {{calculateVoteBalance(item.votes)}}</p>
            </div>
    
            <div>
                <button (click)="vote(item.id, true)">Vote yes</button>
                <button (click)="vote(item.id, false)">Vote no</button>
            </div>
    

        </div>
    </div>
}
</div>
