<div>
    <div>
        <label for="user">user</label>
        <input type="text" [(ngModel)]="userId">
    </div>

    @for(item of data; track item.id){
    <div>
        <div class="story-card">

            <div>
                <h2>Story name: {{item.title}}</h2>
                <p>Description {{item.description}}</p>
                <p>Department {{item.department}}</p>
            </div>
    
            <div>
                <button (click)="vote(item.id, true)">Vote yes</button>
                <button (click)="vote(item.id, false)">Vote no</button>
            </div>
    
        </div>
    </div>
}
</div>
